{% extends 'base.html.twig' %}

{% block body %}
    <h1>Adresses list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Type</th>
                <th>Adresse</th>
                <th>Ville</th>
                <th>Cp</th>
                <th>Country</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for adress in adresses %}
            <tr>
                <td><a href="{{ path('adresses_show', { 'id': adress.id }) }}">{{ adress.id }}</a></td>
                <td>{{ adress.type }}</td>
                <td>{{ adress.adresse }}</td>
                <td>{{ adress.ville }}</td>
                <td>{{ adress.cp }}</td>
                <td>{{ adress.country }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('adresses_show', { 'id': adress.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('adresses_edit', { 'id': adress.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('adresses_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
